# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/Client-react/node_modules
/Client-react/.pnp
/Client-react/.pnp.js

# testing
/Client-react/coverage

# production
/Client-react/build

# misc
/Client-react/.DS_Store
/Client-react/.env.local
/Client-react/.env.development.local
/Client-react/.env.test.local
/Client-react/.env.production.local

/Client-react/npm-debug.log*
/Client-react/yarn-debug.log*
/Client-react/yarn-error.log*
node_modules
